@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  html {
    font-family: 'Montserrat', system-ui, sans-serif;
    height: 100%;
    overflow: visible !important;
    padding-right: 0px !important;
  }

  html,
  body {
    height: 100%;
  }
}

#root {
  display: flex;
  flex-direction: column;
}

input:focus-within~label,
input:not(:placeholder-shown)~label,
input:valid~label {
  @apply -translate-y-6 scale-75 transform;
}

input:focus-within~label {
  @apply text-once;
  background-image: linear-gradient(to bottom, #f1f5f9 50%, #fff 60%);
}

input:not(:focus-within):valid~label {
  @apply scale-100 transform text-slate-700 duration-300;
  background-image: linear-gradient(to bottom, #f1f5f9 50%, #fff 60%);
}

.label-outline input:focus-within~label,
.label-outline input:not(:placeholder-shown)~label {
  @apply ml-3 -translate-y-4 scale-75 transform px-1 py-0;
}

.liked {
  color: red;
}

.messages-scroll-bar::-webkit-scrollbar {
  width: 20px;
}

.messages-scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

.messages-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #d2d7df;
  border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}

.messages-scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #bec3cb;
}

.conversations-scroll-bar::-webkit-scrollbar {
  all: unset;
}

.conversations-scroll-bar::-webkit-scrollbar {
  width: 20px;
}

.conversations-scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

.conversations-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #d2d7df;
  border-radius: 20px;
  border: 9.5px solid transparent;
  background-clip: content-box;
}

.conversations-scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #bec3cb;
}

.Toastify__toast {
  color: #1f2937;
  font-family: 'Montserrat', system-ui, sans-serif;
  font-weight: bold;
}

.Toastify__close-button--light {
  color: #1f2937;
  opacity: 0.75;
}

.Toastify__toast-theme--light {
  border: 1px solid #d1d5db;
}

#recaptcha {
  text-align: -moz-center;
  text-align: -webkit-center;
}
