@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', system-ui, sans-serif;
  }
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-once;
}

input:not(:focus-within) ~ label {
  @apply transform duration-300 scale-100;
}

.label-outline input:focus-within ~ label,
.label-outline input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

.label-outline input:focus-within ~ label,
.label-outline input:not(:placeholder-shown) ~ label {
  @apply z-0 px-1 py-0 ml-3 transform scale-75 -translate-y-3;
}

.active {
  border-color: rgba(255, 95, 162, 1);
}

.liked {
  color: red;
}

#recaptcha {
  text-align: -webkit-center;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 24px;
  height: 24px;
  background: inherit;
  background-blend-mode: color;
  mix-blend-mode: color;
  z-index: -10;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

div[id^='headlessui-popover-panel'][data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

div[id^='headlessui-popover-panel'][data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

div[id^='headlessui-popover-panel'][data-popper-placement^='left'] > #arrow {
  right: -4px;
}

div[id^='headlessui-popover-panel'][data-popper-placement^='right'] > #arrow {
  left: -4px;
}
