body {
  margin: 0;
  background-color: #efefef !important;
  font-family: 'Montserrat', sans-serif !important;
}

@media screen and (min: width: 1236px) {
  .container {
    width: 1190px;
  }
}

.required-input:after {
  content: '*';
  color: red;
  font-weight: bold;
}

a.nav-link {
  color: #32281f;
}

a.nav-link:hover {
  color: #fcc89b;
}

.title {
  font-weight: bold;
}

.content-header {
  background-color: rgb(205, 205, 205, 0.75);
}

.content-title {
  color: #834655;
  font-size: calc(1rem + 1vw);
  font-weight: normal;
}

.meme-buttons {
  color: #834655 !important;
  text-decoration: none;
}

.comments {
  color: #714f57db !important;
}

.author-bar * {
  color: #714f57db !important;
  text-decoration: none;
  font-size: calc(1rem + 0.25vw);
}

.interactive-buttons {
  color: #714f57db;
}

.interactive-buttons:hover {
  color: red;
}

.interactive-bar {
  font-size: calc(0.8rem + 1vh);
}

.btn-pink {
  color: black !important;
  background-color: #eda6b7 !important;
}

.page-number {
  text-align: center;
}

.meme-thumbnail {
  min-width: 12vh;
  min-height: 12vh;
}

@media (hover: hover) {
  .like-meme:hover * {
    color: red;
  }
  .hide-meme:hover {
    color: rgb(214, 41, 41);
  }
  .delete-meme:hover {
    color: rgb(214, 41, 41);
  }
}

.liked {
  color: red;
}

.meme {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  overflow-wrap: break-word;
}

.list-buttons {
  font-size: 1.75vmin;
}

.navbar-brand {
  color: #35271a;
}

#navbar {
  background-color: #f45990;
}

#signupForm {
  text-align: -webkit-center;
}

#items-required:before {
  content: '*';
  color: red;
}

#items-required {
  font-style: italic;
  color: grey;
}

#profile-dropdown {
  color: #fcc89b;
}

#title-input-label {
  font-weight: normal;
  font-size: 2.75vmin;
}
