services:
  database:
    container_name: kpoppop_db
    image: 'postgres:17.5'
    restart: unless-stopped
    env_file:
      - database.env
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  server:
    container_name: kpoppop_server
    env_file: ./server/.env
    environment:
      - REDIS_URL=${REDIS_URL:-redis://redis:6379}
      - NODE_ENV=${NODE_ENV:-development}
    build:
      context: ./server
      args:
        - NODE_ENV=${NODE_ENV}
    restart: unless-stopped
    ports:
      - '5000:5000'
    volumes:
      - ./server:/app
      - /app/node_modules
    depends_on:
      - database
      - redis
      - private-detector

  private-detector:
    container_name: kpoppop_private_detector
    image: vazhega/private-detector:0.2.0
    environment:
      - MODEL_NAME=private_detector
    ports:
      - '127.0.0.1:8501:8501'
    restart: unless-stopped

  redis:
    container_name: kpoppop_redis
    command: redis-server --save 20 1
    image: 'redis:7.2.5'
    ports:
      - '127.0.0.1:6379:6379'
    volumes:
      - redis_data:/data
    restart: unless-stopped

  client:
    container_name: kpoppop_client
    env_file: ./client/.env
    environment:
      - NODE_ENV=${NODE_ENV:-development}
    build:
      context: ./client
      args:
        - NODE_ENV=${NODE_ENV}
    restart: unless-stopped
    ports:
      - '3000:3000'
    tty: true
    volumes:
      - ./client:/app
      - $HOME/.vite-plugin-mkcert:/root/.vite-plugin-mkcert
      - /app/node_modules
    depends_on:
      - server

  nginx:
    container_name: kpoppop_nginx
    image: nginx:latest
    restart: unless-stopped
    ports:
      - '8443:443'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/cert.pem:/etc/nginx/ssl/nginx.crt
      - ./nginx/key.pem:/etc/nginx/ssl/nginx.key

volumes:
  pgdata:
  postgres: {}
  redis_data: {}
  server: {}
